//colors
$grey: grey;
$lightGrey: lightgrey;
$white: white;
$black: #222;
//styles
.container{
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    @media (max-width: 767px) {
        width: 100%;
        padding: 25px;
        box-sizing: border-box;
        min-width: 320px;
    }
    .wrapper {
        padding: 25px;
        width: 600px;
        padding: .5em;
        @media (max-width: 767px) {
            border-radius: 0;
            height: 100vh;
            width: 100%;
        }
        .progress{
            border: $lightGrey solid 1px;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 1px;
            > div {
                border-radius: 5px;
                height: 15px;
                padding: 0 10px;
                color: $white;
                text-align: center;
                box-sizing: border-box;
            }
        }
    }
    .form-row {
        display: block;
        text-align: center;
        > label, > input {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
        > label {
            padding: .5em 1em .5em 0;
        }
        > input {
            padding: .5em;
        }
    }
    .button-row {
        min-height: 25px;
        padding: .5em;
        margin-top: 50px;
        border-top: $lightGrey solid 1px;
        > button {
            border-radius: 5px;
            color: $black;
            border: $lightGrey solid 1px;
            width: 100px;
            line-height: 2.5em;
            cursor: pointer;
            &:hover{
                background: $grey;
                color: $white;
                transition: all 0.6s;
            }
        }
    }
    .pull-left{
        float: left;
    }
    .pull-right{
        float: right;
    }
    .ligh-grey{
        background: $lightGrey;
    }
    .grey{
        background: $grey;
    }
}